<div class="row">

    <div class="col-sm-6 sc-is-center">
        <h1 class="text-dark font-weight-bold landing-text">
            <span class="text-red1">{{textOne}}</span>
            {{textTwo}}
        </h1>
        <p class="text-dark">{{keyFeatures}}</p>

        <a class="btn btn-dark" target="_blank" href="{{githubUrl}}">
            <i class="fab fa-github mr-1"></i>
            View on Github
        </a>

        <a class="btn btn-link text-dark" onclick="alert('Coming soon !');">
            <u>Read the Docs</u>
        </a>
    </div>

    <div class="col-sm-6">
        <img src="/assets/coding.svg" 
        class="landing-image" 
        style="width: 100% !important;" />
    </div>

</div>